
/*
==============================
CONTENT BOXES
==============================
*/  

    #courses_page .advs-box.boxed-inverse {
        background-color: #FDFDFD;
        border: 1px solid #F1F1F1;
        padding: 25px;
        border: none;
        min-height: 500px
    }



/*
==============================
MULTIPLE
==============================
*/

.advs-box.advs-box-multiple.boxed-inverse, .advs-box.advs-box-multiple.boxed {
    padding: 0 !important;
}

.advs-box-multiple a.img-box {
    display: block;
}
.advs-box-multiple a.img-box img{
    max-width: 100%;
    max-height: 100%;
}
.advs-box-multiple .advs-box-content {
    padding: 15px 15px 25px 15px;
    text-align: left;
}
 

.advs-box-multiple p {
    text-align: left;
    /*margin-top: 15px;*/
    max-width: 100%;
    margin-bottom: 10px;
}
    .advs-box-multiple p + a {
        margin-top: 15px;
    }
.advs-box-multiple h3 {
    padding-right: 100px;
}
.advs-box-multiple.boxed-inverse .advs-box-content {
    border: 1px solid #dcdcdc;
    border-top: none;
}

.maso-box > .maso-item, .grid-box > .grid-item {
    padding: 7.5px;
}

/*
==============================
TOP IMAGE
==============================
*/
.advs-box-top-icon {
   /* padding-top: 45px !important;*/
    text-align: center;
    margin-top: 45px !important;
    position: relative;
    min-height: 192px;
}
body div.advs-box-top-icon.no-icon {
     margin-top: 0 !important;
}
#home_page .advs-box-top-icon {
    min-height: 300px!important;
}
@media (max-width: 767px) {
 #home_page .advs-box-top-icon {
    margin-left:19px;
    padding:10px;
     margin-right:1px;
    
}  
}