.extra-content, .nav:not(.ms-rounded) li > a:before, .boxed.advs-box-top-icon-img .advs-box-content, .advs-box-side-img hr, .mi-menu .sidebar-nav, .advs-box-top-icon-img.niche-box-post:after, 
.accordion-list .list-group-item:before,[class*=header-] .title-base h1:before,.btn.circle-button, .btn, .header-bootstrap, 
.header-title hr, .advs-box.boxed, i.circle, .intro-box:after, .intro-box:before,.advs-box-side-img hr, .call-action-box, 
.title-base hr, .nav.inner.ms-mini, .bg-color, .header-title.white .title-base hr,.header-animation.white .title-base hr,
.title-base .scroll-top, .title-modern.scroll-top, i.square, .header-base,.progress-bar, .tagbox span, .niche-box-post 
.block-infos .block-data, .header-base  {
  background-color: #ee2123;
}
.nav:not(.ms-rounded):hover{
}
.btn:not(.btn-border):hover, .btn-primary:focus, .boxed .btn, .btn-primary.focus, .side-menu .active,
     .white .title-base.yellow-bar hr {
  background-color: #ee2123bd !important;
}
.navbar-right .right-skills {
    background-color: #ee2123;
        padding-top: 5px;
    padding-bottom: 5px;
}
.right-address{
  padding-top: 5px;
    padding-bottom: 5px;
}
i.icon, .fullpage-menu .active i, .navbar-default .navbar-toggle:hover i, .navbar-default .navbar-toggle:focus i, header .side-menu .active > a,.adv-img-button-content .caption i,.icon-menu ul.nav > li.active > a i, .icon-menu ul.nav > li:hover > a i, .active .maso-order i, .btn.btn-border i, .advs-box-top-icon:not(.boxed) i.icon,.datepicker-panel > ul > li.picked,.tab-box .nav-tabs > li.active > a,.advs-box-content h2:hover a, footer h4,.advs-box-side .icon,.title-icon i,.footer-center .footer-title,.accordion-list .list-group-item > a.active,.btn-border, .btn.btn-border, .btn.circle-button.btn-border, footer a:hover{
  color: #ee2123;
}

#about-page .btn,#about-page .btn:hover,#about-page .btn:hover i,#about-page .btn.focus {
  color: #fff;
}


#home_page .btn,#home_page .btn:hover,#home_page .btn:hover i,#home_page .btn.focus {
  color: #fff;
}

@media (max-width: 994px) {
  .navbar-nav .open .dropdown-menu > li > 

a[href="#"] {
    color: #444;
  }
}

.section-bg-color .advs-box-top-icon.boxed-inverse .icon, .section-bg-color .advs-box-top-icon .icon, .navbar-mini, .header-base:not(.bg-cover) {
  background-color: #365dab;
}

.navbar-default .navbar-nav > .active > a,.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-nav > li:hover > a,.nav.inner > li, .box-transparent .overlaybox-inner, header .input-group-btn .btn, header .input-group-btn .btn:hover,.navbar-default .navbar-nav > li > a:hover,.dropdown-menu ul > li:hover > a, .navbar-main .btn-search:hover, .accordion-list .list-group-item > a:hover, .nav.inner, .bg-transparent li.active, .bg-transparent li:hover,.tab-box .nav-tabs li.active,.white.btn.btn-border, .white .btn.btn-border, .pagination > li > a:hover,.pagination > li > span:hover, .pagination >li > a:focus, .pagination > li > span:focus,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
  background: none !important;
}
/*
---------------------------------------------

----------------------
HEADER AND MENUS
---------------------------------------------

----------------------
*/
@media only screen and (min-width: 992px) {
  .navbar-nav .dropdown {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-nav .dropdown {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

.navbar-mini:not(.hidden) + .navbar-main .navbar-brand {
  margin-top: 10px;
}
.nav:not(.ms-rounded) li.active > a:before {
  width: 100%;
}
.nav:not(.ms-rounded) li {
  position: relative;
}

.nav:not(.ms-rounded) li > a:before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  transition: all 0.35s ease-out;
  -webkit-transition: all 0.35s ease-out;
}


.navbar-brand {
  height: 110px;
}

.nav .caret:before {
  border-color: #7d7d7d;
}

.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
}

.navbar-mini {
  border: none;
}

.navbar-mini .navbar-left {
    padding-top: 5px;
    padding-bottom: 5px;

}


.navbar-mini span i {
  font-size: 13px;
  transform: translateY(-0.5px);
  display: inline-block;
  color: #fff;
}

.navbar-mini span {
  padding: 0 7px;
  font-weight: normal;
  letter-spacing: .5px;
  opacity: .9;
  color: #fff;
}

.navbar-mini span a {
  color: #fff;
}

.navbar-mini > .container {
  padding-left: 0px!important;
}


.navbar-toggle {
      margin-top: 28px!important;}

/*
---------------------------------------------

----------------------
FOOTER
---------------------------------------------

----------------------
*/

footer {
  border-top: 1px solid #E6E6E6;
}

footer p, footer a, footer li {
  opacity: .8;
  font-weight: 400;
  color: #ffffcc;
}

footer a {
  line-height: 25px;
}

footer h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 22px;
  color: #ffffcc;
}

footer .container {
  padding: 80px 15px;
}

footer .copy-row {
  border-top: 1px solid #cecece;
  padding: 15px;
  margin: auto;
  font-weight: 400;
  color: #a2a2a2;
  letter-spacing: .3px;
  float: none;
  margin: 0px 30px;
}

footer .fa-ul .fa-li {
  font-weight: 600;
}

footer ul {
  padding-left: 16px;
}

footer a:hover {
  color: #fff!important;
}

/*
---------------------------------------------

----------------------
RESPONSIVE
---------------------------------------------

----------------------
*/
.navbar-toggle > i {
  margin-top: 13px;
}

@media (max-width:994px) {
  header .nav li > .mega-menu,  

.flexslider.nav-top-right {
    margin: 0 !important;
  }

  header .navbar-main .col + .col ul, header .navbar-main .dropdown a + ul, .nav-tabs > li:first-child > a, .box-steps .step-item:first-child {
    padding-top: 0 !important;
  }

  .box-steps .step-item:last-child {
    padding-bottom: 0 !important;
  }

  .nav-tabs > li {
    margin-right: 0;
  }

  .title-base.text-left, .vertical-row > div, .row.vertical-row > div, .advs-box-side-icon .icon-box, .advs-box-side-icon .caption-box, .advs-box-side, .advs-box-side-icon p, .advs-box.advs-box-side p,.section .background-page, .section .content, .section .container {
    text-align: left !important;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  header .navbar-main ul {
    padding: 10px 0 0 0 !important;
  }

  .nav-tabs > li > a {
    padding-left: 15px !important;
  }

  .text-m-xs {
    font-size: 25px !important;
    line-height: 35px;
  }

  .text-m-sm {
    font-size: 30px !important;
    line-height: 35px;
  }

  .nav-tabs > li {
    border: none;
  }

  .nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active:hover > a, .nav-tabs > li:hover > a {
    padding: 15px 0 15px 0;
  }

  footer .container {
    padding: 80px 0;
  }

  header .dropdown-submenu a + .dropdown-menu a {
    padding-left: 20px;
  }

  .img-box.adv-img-side-content .caption {
    min-height: 180px;
  }


  .advs-box-side-icon .icon-box, .advs-box-side-icon .caption-box {
    display: table-cell;
  }
}

@media (max-width: 767px) {
  .pagination-lg > li > a span {
    font-size: 15px;
  }

  .pagination-lg > li > a, .pagination-lg > 

li > span {
    padding: 8px 10px;
    font-size: 15px;
  }
}

.nav > li > a {
  position: relative;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

.container.content, .section-empty > .content, .section-bg-image > .content,.section-bg-animation > .content, .section-slider > .content, .section-two-blocks .content {
  padding-top: 80px;
  padding-bottom: 80px;
}


/********
=======
inner header
=====
*/
.title-base {
  flex-direction: column-reverse;
  display: flex;
}

[class*=header-] .title-base {
  text-align: left;
  display: block;
}

[class*=header-] .title-base h1,[class*=header-] .title-icon h2, [class*=header-] .title-icon h1, [class*=header-] .title-base.title-small h2 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 5px;
  position: relative;
}

[class*=header-] .title-base p, [class*=header-] div.title-icon p {
  max-width: 500px;
}

.header-base .title-base {
  display: block;
}

.header-base .title-base h1 {
  font-size: 35px;
  font-weight: 400;
  position: relative;
  color: #4C4C4C;
}

[class*=header-] .title-base p {
  max-width: 500px;
  margin-top: 50px;
  color: #4C4C4C;
}

.title-base hr {
  width: 100%;
  opacity: 0;
  height: 5px;
}

.title-base.text-left hr, .title-base.text-left hr, [class*=header-] .title-base hr {
  opacity: 1;
}

[class*=header-] .title-base hr {
  display: none;
}

.title-base.text-left p {
  margin-left: 1px;
  margin-bottom: 3px;
}


.form-box .form-control {
  border: none;
  border-bottom: 1px solid #b9b9b9;
  border-radius: 0;
  background: none;
}

.text-normal, .form-box p {
  font-weight: 400;
}

p {
  letter-spacing: .5px;
}

body, p, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

body, p {
  font-size: 14px;
  line-height: 23px;
  color: #000;
 
}
#home_page .home-about p,#about-page p{
   text-align:justify;
}
body, a {
  color: #000;
}

hr.space.s {
  height: 20px;
}

hr.space {
  border: none !important;
  clear: both;
  height: 70px;
  margin: 0;
}

.btn-border {
  border-color: #ee2123;
}

/*****
GALLERY
****/
.maso-box.row, .grid-box.row {
  margin: -7.5px;
  width: calc(100% + 15px);
}

.maso-box > .maso-item, .grid-box > .grid-

item {
  padding: 7.5px;
}

.maso-list .list-nav, .grid-list .list-nav {
  margin-top: 35px;
}

.pagination li:not(.active) a {
  border: none !important;
  background: none;
}
/*
-------------------------------------------------------------------
COMPONENTS
-------------------------------------------------------------------
*/
.advs-box .btn-text:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-left: -21px;
        top: 19px;
        position: absolute;
        border-top-width: 2px;
        border-top-style: solid;
        border-right-width: 2px;
        border-right-style: solid;
        content: "";
        width: 6px;
        height: 6px;
        transition: all .15s;
        border-color: rgba(93, 93, 93, 0.5);
}
.advs-box-top-icon-img.boxed .advs-box-content, .advs-box-top-icon-img.boxed-inverse .advs-box-content {
    padding: 30px;
}

.section-bg-color .advs-box.boxed, .section-bg-color .advs-box.boxed-inverse, .section-bg-color .adv-img-down-text.boxed-inverse, .section-bg-color .niche-box-testimonails-cloud p {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    border: 0 solid #eee;
}
.advs-box {
    overflow: hidden;
}
 .advs-box .btn-text {
        border: none;
        font-weight: 400;
        position: relative;
}
 .advs-box .btn-text:after {
  margin-left: 7px;
  top: 9px;
  right: -13px;
        }

.advs-box-top-icon.boxed-inverse, .advs-box-side-icon.boxed-inverse {
        background: none;
        border-style: solid !important;
        border-width: 1px;
        border-color: #dcdcdc;
}
.advs-box-multiple .advs-box-content {
    padding: 30px;
}

.advs-box-multiple.boxed-inverse .advs-box-content {
    border: 1px solid #dcdcdc;
    border-top: none;
}

#about-pdf .section-empty

{
  background-color: rgb(82 86 89) !important;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.contact-sec .advs-box-top-icon.boxed-inverse, .advs-box-side-icon.boxed-inverse{
  min-height: 215px !important;
}