<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
/*
==============================
GENERAL
==============================
*/

body, .adv-img p, .caption-bottom p, .adv-circle .caption p, .advs-box p, .list-blog p {
    font-family:"sans-serif";
    font-size: 13px;
    line-height: 1.42857143;
    color: #4C4C4C;
}

.text-color, .mi-menu ul li > a:before, .sidebar-nav .panel-item > span:before, i.icon, .block-infos .bd-day {
    color: #6A4D8F;
}

.bg-color {
    background-color: #6A4D8F;
}

.scroll-top-mobile {
    position: fixed;
    background: #fff;
    width: 50px;
    height: 50px;
    z-index: 995;
    right: 10px;
    bottom: 10px;
    text-align: center;
    bottom: 10px;
    cursor: pointer;
    padding: 15px 0;
    visibility: hidden;
    opacity: 0;
}

    .scroll-top-mobile.show {
        visibility: visible;
    }

.overflow-visble {
    overflow: visible !important;
}

img {
    max-width: 100%;
}

.form-control:focus {
    border-color: #9C9C9C;
    box-shadow: none;
}

.clear {
    clear: both;
    width: 100%;
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.opacity-show {
    opacity: 1 !important;
}

a, [data-href] {
    cursor: pointer;
    outline: none;
    transition: all .5s;
}

    a[data-toggle], a[data-anima] {
        display: inline-block;
    }

body .row-1 {
    height: 25px !important;
}

body .row-2 {
    height: 50px !important;
}

body .row-3 {
    height: 75px !important;
}

body .row-4 {
    height: 100px !important;
}

body .row-5 {
    height: 125px !important;
}

body .row-6 {
    height: 150px !important;
}

body .row-7 {
    height: 175px !important;
}

body .row-8 {
    height: 200px !important;
}

body .row-9 {
    height: 225px !important;
}

body .row-10 {
    height: 250px !important;
}

body .row-11 {
    height: 275px !important;
}

body .row-12 {
    height: 300px !important;
}

body .row-13 {
    height: 325px !important;
}

body .row-14 {
    height: 350px !important;
}

body .row-15 {
    height: 375px !important;
}

body .row-16 {
    height: 400px !important;
}

body .row-17 {
    height: 425px !important;
}

body .row-18 {
    height: 450px !important;
}

body .row-19 {
    height: 475px !important;
}

body .row-20 {
    height: 500px !important;
}

body .row-21 {
    height: 750px !important;
}

body .row-22 {
    height: 1000px !important;
}

body .row-23 {
    height: 1250px !important;
}
/* 
==============================
scroll
==============================
*/
.scroll-top-mobile {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
    color: #b5b5b5;
    width: 35px;
    height: 35px;
    bottom: 15px;
    right: 15px;
}
.scroll-top-mobile:before {
    top: -4.5px;
    left: -2px;
    transform: scale(1.2) rotate(-45deg);
}
 .scroll-top-mobile:hover:before{
        border-color: #F44336;
 }
/*
------------------------------
VARIOUS
------------------------------
*/
.dropcap {
    font-size: 50px;
    left: 0;
    line-height: 1;
    margin: 0 20px 10px 0;
    position: relative;
    float: left;
    font-style: normal;
}

.text-bold {
    font-weight: 700;
}

.text-black {
    font-weight: 900 !important;
}

.text-light {
    font-weight: 300;
}

.text-xs {
    font-size: 11px !important;
    line-height: 11px;
}

.text-s {
    font-size: 15px !important;
    line-height: 18px;
}

.text-m {
    font-size: 18px !important;
    line-height: 25px;
}

.text-l {
    font-size: 27px !important;
    line-height: 31px;
}

.text-xl {
    font-size: 50px !important;
    line-height: 50px;
}

.text-xxl {
    font-size: 110px !important;
    line-height: 110px;
}

/* 
==============================
LAYOUT
==============================

------------------------------
GENERIC
------------------------------
*/
.boxed-layout .navbar-fixed-top, .boxed-layout .navbar-fixed-top, .boxed-layout header, .boxed-layout .parallax-mirror, .boxed-layout .content-parallax, .boxed-layout footer,
.boxed-layout [class*="header-"], .boxed-layout #fullpage-main, .boxed-layout .container {
    max-width: 1200px;
    margin: 0 auto;
}

.boxed-layout.side-menu-container .container {
    max-width: 100%;
}

.boxed-layout .parallax-mirror {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
}

.boxed-layout .content-parallax {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
}

body.boxed-layout {
    background: #efefef;
}

.boxed-layout .overlay-content .section-empty:not(.section-bg-color) {
    background: #fff !important;
}

.col-center {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both;
}

.fixed-bottom-area {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25px;
    background-color: rgba(0,0,0,0.42);
}

.box-middle-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.row.box-middle {
    margin-left: 0;
    margin-right: 0;
}

.no-margins, .no-margins .content {
    margin: 0 !important;
}

.no-paddings, .no-paddings .content {
    padding: 0 !important;
}

.no-paddings-x {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-paddings-y, .no-paddings-y .content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

@media (min-width:994px) {
    .no-padding-bottom, .no-padding-bottom .content {
        padding-bottom: 0 !important;
    }
}

div > p:last-child {
    margin-bottom: 0;
}

/*
------------------------------
VERTICAL AND PRPORZIONAL ROW
------------------------------
*/
.vertical-row.row, .vertical-row > .row {
    display: flex !important;
    align-items: center;
}

.section-two-blocks > .vertical-row.row {
    align-items: initial;
}

.middle-content, .middle-content > .row, .middle-content > .row > div {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .middle-content.text-left {
        align-items: baseline;
    }

.row.vertical-row:not(.box-middle) {
    margin-left: -15px;
    margin-right: -15px;
    display: block !important;
}

.vertical-row > div {
    padding: 0;
}

.row.vertical-row > div {
    padding-left: 15px;
    padding-right: 15px;
}

.proporzional-row:not(.hc_column_cnt), .proporzional-row > .row {
    display: flex;
}

    .proporzional-row > *:not(.row), .proporzional-row > .row > * {
        flex: 1 1 auto;
    }

    .proporzional-row .flexslider, .proporzional-row .hc_image_slider_cnt, .proporzional-row .flexslider div, .proporzional-row .flexslider .slides, .proporzional-row .img-box,
    .proporzional-row > div > .advs-box, [class*="row-"].grid-item > div, .grid-item > .row > div, .proporzional-row .google-map, .proporzional-row > .row > div > .row,
    .proporzional-row .hc_google_map_cnt, [class*="row-"] .flexslider, [class*="row-"] .flexslider div, [class*="row-"] .flexslider .slides, [class*="row-"] .row,
    [class*="row-"] li .img-box, .proporzional-row .hc_content_box_cnt, .proporzional-row > .row > div > .row > div > .advs-box, .proporzional-row > .row > div > .row > div > .adv-img,
    .proporzional-row > .row > div > .row > .hc_image_box_cnt {
        height: 100%;
        display: block;
    }

.clear-proporzional, .clear-proporzional *:not(hr) {
    height: auto !important;
}

[class*="row-"]:not(.one-row-list) .col-md-12 {
    max-height: 100%;
    overflow: hidden;
}

[class*="row-"]:not(.one-row-list) > .row > [class*="col-md-"], [class*="row-"]:not(.one-row-list) > .row > div > .img-box {
    height: 100%;
}

/*
------------------------------
BOXED AND BOXED INVERSE
------------------------------
*/
@media (min-width:993px) {
    [class*="boxed"].col-md-2:not(.no-margins) {
        width: calc(16.66666667% - 30px);
    }

    [class*="boxed"].col-md-3:not(.no-margins) {
        width: calc(25% - 30px);
    }

    [class*="boxed"].col-md-4:not(.no-margins) {
        width: calc(33.33333333% - 30px);
    }

    [class*="boxed"].col-md-5:not(.no-margins) {
        width: calc(41.66666667% - 30px);
    }

    [class*="boxed"].col-md-6:not(.no-margins) {
        width: calc(50% - 30px);
    }

    [class*="boxed"].col-md-7:not(.no-margins) {
        width: calc(58.33333333% - 30px);
    }

    [class*="boxed"].col-md-8:not(.no-margins) {
        width: calc(66.66666667% - 30px);
    }

    [class*="boxed"].col-md-9:not(.no-margins) {
        width: calc(75% - 30px);
    }

    [class*="boxed"].col-md-10:not(.no-margins) {
        width: calc(83.33333333% - 30px);
    }

    [class*="boxed"].col-md-11:not(.no-margins) {
        width: calc(91.66666667% - 30px);
    }

    [class*="boxed"].col-md-12:not(.no-margins) {
        width: calc(100% - 30px);
    }

    .grid-item > [class*="boxed"], .grid-item > [class*="boxed-inverse"], .maso-item > [class*="boxed"], .maso-item > [class*="boxed-inverse"] {
        width: 100% !important;
    }
}

.base-box.boxed, .base-box.boxed-inverse, .boxed-inverse, [class*="col-md-"].boxed, [class*="col-md-"].boxed-inverse, .grid-box > .grid-item.boxed-inverse, .row.vertical-row > div.boxed-inverse, .row.vertical-row > div.boxed {
    border-style: none !important;
    padding: 25px 25px 25px 25px;
}

[class*="col-md-"].boxed, [class*="col-md-"].boxed-inverse {
    margin: 0 15px;
}

.grid-item > .boxed-inverse, .grid-item > .boxed {
    margin: 0;
    width: 100%;
}

[class*="col-md-"].boxed-inverse, .boxed-inverse, .fixed-area.boxed-inverse {
    background-color: #f5f5f5;
}

.section-bg-color [class*="col-md-"].boxed-inverse, .fixed-area.boxed-inverse {
    background-color: #fff;
}


.grid-item.boxed-inverse {
    margin-top: 15px;
    height: calc(100% - 109px);
}


/* 
==============================
HEADER - MENU 
==============================

------------------------------
GLOBAL
------------------------------
*/

header {
    line-height: 1.42857143;
    z-index: 995;
}

    header form.navbar-form {
        margin: 0 0 0 0;
    }

.nav li:hover > ul, .nav li:hover > .mega-menu, .side-menu li:hover .panel, .side-menu li .panel:hover {
    display: block;
}

header .btn-default, header .btn, header .anima-button.circle-button, header .input-group .btn:not(.btn-border) {
    background-color: #FAFAFA;
    color: #797979;
}

    header .btn-default:hover, header .circle-button:hover {
        border-color: #D2D2D2;
        background-color: #e6e6e6;
    }

.navbar-default .navbar-nav > li > a, .mega-menu h5 {
    color: #444;
}

.nav > li.dropdown > a {
    /*padding-right: 23px;*/
    margin-right: 18px;
}

header .navbar-right > * {
    float: left;
}

    header .navbar-right > *:not(li) {
        padding-right: 15px;
        padding-left: 15px;
    }

header.hamburger-header {
    width: auto;
}

.navbar-brand img {
    transition: all .3s;
    max-height: 100%;
}

.navbar-brand.scroll-show.showed {
    display: table-cell !important;
}

.navbar-brand .logo-retina, .brand .logo-retina, .logo-retina {
    display: none !important;
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 994px), (min-resolution: 192dpi) and (min-width: 994px) {
    .navbar-brand .logo-retina, .brand .logo-retina, .logo-retina {
        display: block !important;
    }

    .navbar-brand .logo-default, .brand .logo-default, .logo-default {
        display: none !important;
    }
}

.navbar-default .navbar-nav > li > a .caret {
    margin-left: 5px;
}


.navbar-right ul ul ul.dropdown-menu {
    left: 100%;
}

.wide-area .container {
    width: 100% !important;
}

header .custom-area {
    padding: 0 15px;
}

header .input-group input, header .btn-default, header .input-group .input-group-btn a {
    border-color: #EAEAEA;
}

    header .input-group input:focus, header .btn-default:focus {
        border-color: #EAEAEA;
    }

.navbar-right img {
    max-height: 41px;
    margin: 5px auto;
}

.input-group button {
    color: #444;
    font-weight: 400;
    font-size: 13px;
}

header .social-group a i.fa {
    padding: 5px 8px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
    line-height: 22px;
    text-align: center;
    color: #505050;
}

.dropdown-menu .fa-ul .divider {
    margin: 10px 0 10px -27px;
    opacity: 1 !important;
    background-color: rgba(138, 138, 138, 0.15) !important;
}

header > .navbar {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #E4E4E4;
    transform: translate3d(0px, 0px, 0px);
}

.navbar-main, .nav.inner {
    background-color: #FFFFFF;
    margin-bottom: 0;
    border: none;
}

    .navbar-main .btn-search {
        margin-top: 7px;
    }

.bg-menu {
    background-repeat: no-repeat;
    background-position: bottom right;
}

.navbar-brand.center {
    text-align: center;
    width: 100%;
    width: calc(100% - 30px);
}

    .navbar-brand.center > img {
        display: inline-block;
    }

.scroll-show, .scroll-hide.hidden {
    display: none !important;
}

    .scroll-show.showed {
        display: block !important;
    }

.full-width-menu {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    background-color: #FFFFFF;
}

    .full-width-menu .nav {
        border: none;
        border-radius: 0;
        margin: 0;
        float: none;
    }

        .full-width-menu .nav.inner > li > a i.caret, .full-width-menu .dropdown-menu li a i.caret, .full-width-menu .nav.inner .dropdown-menu > li > a, .full-width-menu .nav.inner .dropdown-menu > li > a:hover {
            color: #696969 !important;
        }

div.full-width-menu .inner .dropdown-submenu:hover > a:after, div.full-width-menu .inner .dropdown-submenu > a:after {
    border-left-color: #696969 !important;
}



.full-width-menu .dropdown-submenu:hover > a:after {
    border-left-color: inherit !important;
}

.fixed-top {
    height: 52px;
}

.navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a:hover, .dropdown > li:hover > a, .dropdown-menu ul > li:hover > a, .subline-bar li:hover, .sidebar-nav ul a:hover, .panel-item > span:hover, .sidebar-nav .panel-item > span:hover, .bg-transparent li.active {
    color: #171717;
    background: rgba(199,199,199,0.15);
}

.navbar-brand {
    margin-right: 15px;
}
/*
------------------------------
TOP SECTION - MINI
------------------------------
*/
.navbar-mini {
    background-color: #f8f8f8;
    color: #7B7B7B;
    font-size: 12px;
    border-bottom: 1px solid rgb(228,228,228);
}

    .navbar-mini .navbar-left span:first-child {
        padding-left: 0;
    }

    .navbar-mini span {
        padding: 0 7px;
    }

        .navbar-mini span i {
            margin-right: 7px;
        }

    .navbar-mini hr {
        width: 1px;
        background-color: #BEBEBE;
        margin: 0 0 -2px 0;
        display: inline-block;
        height: 12px;
        padding: 0;
    }



/*
------------------------------
DROPDOWN
------------------------------
*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: 0;
        box-shadow: 5px 4px 7px rgba(0,0,0,0.1);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

.dropdown-menu > li > a {
    padding: 10px 20px;
    font-weight: 700 !important;
    color: #444;
}

header .dropdown-submenu > .dropdown-menu {
    top: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    float: right;
    margin-top: 5px;
    margin-right: -5px;
    transform: rotate(45deg) !important;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #7E7E7E;
}

.dropdown-submenu.pull-left {
    float: none;
}

    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }

.dropdown .caret {
    border: none;
    margin-top: -26px;
}


 
footer {
    background-color: #ec2425;
    position: relative;
    z-index: 1;
    margin-top: 0 !important;
}

    footer h4, footer h5, footer h6 {
        margin-top: 0;
    }


footer .container {
    padding: 35px 15px;
}


.copy-row .col-md-12 {
    text-align: center;
}

.footer-list a {
    display: block;
    border-bottom: 1px solid rgba(117,117,117,0.1);
    color: #464646;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.copy-row hr {
    margin: 10px 15px 15px 15px;
}

.copy-row .copy-text {
    font-size: 12px;
    line-height: 20px;
}

.copy-row .nav {
    float: right;
    display: block;
    width: inherit;
    margin: 0 -15px 0 0;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer-center {
    text-align: center;
}

footer .content {
    overflow: hidden;
}



footer.footer-center .content {
    border-top: 1px solid #E2E2E2;
    background-color: white;
}

.footer-center .footer-main {
    margin: 20px;
    font-size: 13px;
}

.footer-center .copy-row {
    margin-top: 15px;
    color: #757575;
    padding: 10px;
}



.footer-center .footer-title {
    color: #4C4C4C;
    margin-bottom: 20px;
    font-weight: 600;
}


.dropdown-submenu > a:after, body .flex-direction-nav a:before, body .flex-direction-nav a.flex-next:before, .side-menu .fa.arrow:before, .dropdown .caret:before,.pagination > li > a i:before, .porfolio-bar .icon-box i:before, .fullpage-arrow i:before, .fullpage-varrow i:before, .mfp-arrow:before, li > a > .plus-times:before, .scroll-top-mobile:before {
    border-top-width: 2px;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    content: "" !important;
    display: inline-block;
    margin-left: .3em;
    position: relative;
    pointer-events: none;
    width: 6px;
    height: 6px;
    transition: right .15s;
    border-color: rgba(93, 93, 93, 0.5);
}

/*
==============================
MOBILE - RESPONSIVE
==============================
*/

.visible-xs.hidden-sm {
    display: block !important;
}

button.navbar-toggle {
    padding: 3px !important;
    border: none;
}

.navbar-toggle > i {
    font-size: 25px;
    margin: 2px 5px 0 5px;
    line-height: 23px;
    color: #4C4C4C;
}


.side-menu li.active.open > ul {
    display: block;
}

.navbar-toggle > span {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #585858;
    margin: 5px 5px 0 5px;
    float: right;
}

.navbar-default form {
    border: none;
}

@media (max-width:1500px) {
    .side-menu-container .container {
        width: 100%;
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .section-two-blocks div.content {
        width: 460px;
    }

    div.box-menu-inner {
        margin-left: -485px;
    }
}

@media (max-width: 992px) {
    [class*="col-md"] {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .scroll-top-mobile {
        visibility: visible;
    }

    .full-screen-title {
        height: 100% !important;
    }

    .middle-content > .row, .middle-content > .row > div {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-two-blocks > div > [class*="col-md"] {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section-map .overlaybox-inner {
        width: 100%;
    }

    .section-two-blocks div.content {
        width: 88%;
        width: calc(100% - 50px);
    }

    .text-xxl {
        font-size: 45px !important;
        line-height: 50px;
    }

    .text-xl {
        font-size: 35px !important;
    }

    .no-paddings > .content > div {
        margin-left: -15px;
        margin-right: -15px;
    }

    a.img-box {
        margin: 0;
    }

    
    .mega-tabs .nav-tabs li {
        float: none;
    }

    [class*="col-md"].fixed-area.active {
        margin-left: 15px;
        margin-right: 15px;
    }

    .scroll-content.scroll-mobile-disabled {
        padding-right: 0 !important;
    }


    footer .fa-ul > li, .title-base.text-right, .list-items .list-item span {
        text-align: center;
    }

  

    /*
------------------------------
MENU - RESPONSIVE
------------------------------
*/     
    .dropdown.open .dropdown-menu {
        display: block;
        margin: 0 !important;
        width: 100% !important;
    }

    

    .fa-ul > li {
        overflow: visible;
        text-align: left;
    }

    .fa-ul.text-right > li {
        text-align: right;
    }

    .nav li:hover > ul, .nav li:hover > .mega-menu, .side-menu li:hover .panel, .side-menu li .panel:hover {
        display: none;
    }

   

    .nav li.open > .mega-menu, .side-menu li.open .panel, .side-menu li .panel.open {
        display: block;
    }

    .navbar-fixed-top, .navbar-fixed-bottom {
        position: static !important;
        margin-top: 0 !important;
    }

        .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
            max-height: inherit;
            box-shadow: 0 3px 5px rgba(0,0,0,0.13);
        }

    
    .dropdown-submenu ul {
        display: block;
    }

    .dropdown-submenu .dropdown-toggle:after {
        display: none;
    }
   
    
        .navbar-main.navbar-middle ul.nav > li.logo-item, .navbar-middle ul.nav > .scroll-hide {
            display: none !important;
        }

 
    header .navbar-right > * {
        float: none;
        padding: 01 !important;
    }

    header .navbar-right .navbar-social, header .navbar-right .social-group {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .nav.inner.ms-rounded.over > li {
        padding-bottom: 0;
    }

    footer .container {
        padding: 35px 0 15px 0;
    }

    .menu-outer ul.nav {
        position: relative;
        top: 0;
        text-align: left;
    }

   

    .navbar-mini .nav {
        text-align: center;
        margin: 0;
        padding: 5px 0;
    }

    .navbar-mini .navbar-left {
        display: none;
    }

    .navbar-mini .container {
        padding: 0;
    }

    .navbar-mini .navbar-right {
        padding: 0;
    }   

    div.navbar-nav {
        margin: 0 0 0 0;
    }

    

    .navbar-toggle {
        max-width: 20%;
    }

    .lan-menu ul li a {
        text-align: center;
    }

    .navbar-mini .lan-menu.navbar-nav .open .dropdown-menu {
        background-color: #FDFDFD;
        position: absolute;
        margin-top: -5px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.21);
    }

    .dropdown-menu {
        padding-bottom: 5px;
    }

    
    .nav.inner > li {
        display: block;
        float: none;
    }

    .navbar-inner .navbar-collapse li {
        text-align: left;
        margin: 0;
    }

   

    
    /*
------------------------------
VARIOUS
------------------------------
*/
    hr.space {
        height: 35px;
    }

        hr.space.xs {
            height: 8px;
        }

        hr.space.s {
            height: 10px;
        }

        hr.space.m {
            height: 20px;
        }

    hr.e {
        float: none !important;
        margin-left: auto !important;
        margin-right: auto;
    }

    .hidden-sm {
        display: none !important;
    }

    

    footer, .footer-left, .footer-right {
        text-align: center;
    }

        footer hr {
            margin-left: auto !important;
            margin-right: auto !important;
        }

    

    footer {
        height: auto !important;
    }

    
    footer .fa-ul > li i {
        margin-left: -25px;
        left: inherit;
    }

    

    
    .text-center-sm, .text-center-sm th, .text-center-sm.hc_social_share_buttons_cnt > .text-left, .text-center-sm .hc_social_share_buttons_cnt > .text-left {
        text-align: center !important;
    }

    .text-left-sm {
        text-align: left !important;
    }

    .text-right-sm {
        text-align: right !important;
    }

    .text-center-sm .icon-box {
        margin: 10px auto;
    }

    .visible-xs, .button-cnt.visible-xs > .btn {
        display: none !important;
    }

    .visible-sm, .button-cnt.visible-sm > .btn, .hidden-xs {
        display: block !important;
    }

    a.hidden-xs {
        display: inline-block !important;
    }

    .visible-xs.hidden-sm {
        display: none !important;
    }

    .height-full-sm {
        height: 100% !important;
    }

    footer .tag-row span, footer .tag-row {
        white-space: normal;
    }

   

    .text-xs-sm {
        font-size: 11px !important;
        line-height: 11px;
    }

    .text-s-sm {
        font-size: 13px !important;
        line-height: 18px;
    }

    .text-m-sm {
        font-size: 18px !important;
        line-height: 25px;
    }
}
/*
==============================
MOBILE - EXTRA SMALL SCREENS
==============================
*/
@media (max-width: 767px) {
    .col-md-6, .col-md-3, .col-md-3:not(.widget), .col-md-4, .col-md-2, .col-md-9, .col-md-8, .col-md-7, .col-md-1, .col-md-5, footer [class*="col-md"], .col-md-4 [class*="col-md"] {
        width: 100%;
        float: none;
    }

    .col-sm-6, .col-sm-4 {
        width: 100% !important;
        float: none;
    }
      .col-xs-12, [class*="col-md-"].boxed-inverse, [class*="col-md-"].boxed, .col-md-6.boxed-inverse:not([class*="col-sm-"]), .col-md-6.boxed:not([class*="col-sm-"]), 
      .col-md-4.boxed-inverse:not([class*="col-sm-"]), .col-md-4.boxed:not([class*="col-sm-"]),[class*="col-md-"].boxed-inverse.col-sm-6, [class*="col-md-"].boxed.col-sm-6,
       .col-md-6.boxed-inverse:not([class*="col-sm-"]), .col-md-6.boxed:not([class*="col-sm-"]) {
        width: 100% !important;
        width: calc(100% - 30px) !important;
    }
    

    .fa-ul.text-center-xs > li {
        display: inline-block;
        margin: 0 20%;
        white-space: nowrap;
    }

    

    .hidden-xs, a.hidden-xs {
        display: none !important;
    }

    .visible-xs.hidden-sm {
        display: block !important;
    }

    .visible-xs {
        display: block !important;
    }

    

    .title-base.text-left {
        text-align: center !important;
    }

    .vertical-row > div, .row.vertical-row > div {
        text-align: center;
    }

    .text-center-xs, .text-center-xs th, .text-center-xs.hc_social_share_buttons_cnt > .text-left, .text-center-xs .hc_social_share_buttons_cnt > .text-left {
        text-align: center !important;
    }

    .text-left-xs {
        text-align: left !important;
    }

   
    .height-full-xs {
        height: 100% !important;
    }

    
    .ul-dots.text-center-xs, .ul-square.text-center-xs, .ul-decimal.text-center-xs {
        display: inline-block;
    }

        .ul-dots.text-center-xs li, .ul-square.text-center-xs li, .ul-decimal.text-center-xs li {
            text-align: left !important;
        }

    .text-xs-xs {
        font-size: 11px !important;
        line-height: 11px;
    }

    .text-s-xs {
        font-size: 13px !important;
        line-height: 18px;
    }

    .text-m-xs {
        font-size: 18px !important;
        line-height: 25px;
    }
}

.section-empty{
    background-color: #FFF;
    position: relative;
    z-index: 3;
    overflow: hidden;

}

.no-paddings, .no-paddings .content {
    padding: 0 !important;
}

[class*="section-"] > div > .row:last-child > div > *:last-child, [class*="section-"] > div > *:last-child, [class*="section-"] > *:last-child {
    margin-bottom: 0;
}
[class*="section-"] > div > .row:first-child > div > *:first-child, [class*="section-"] > div > *:first-child, [class*="section-"] > *:first-child {
    margin-top: 0;
}
/**************
=================
INNER BACKGROUND
=================
*/
.header-slider, .header-video, .header-title {
    overflow: hidden;
    position: relative;
}
.header-title, .header-animation {
    text-align: center;
    height: 300px;
    background-position: center center;
    background-size: cover;}


.header-title:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -120;
    left: 0;
    height: 100%;
}

.border-table.text-left:not(.table-bordered) td:first-child {
    padding-left: 0;
}

.border-table.text-left:not(.table-bordered) td:last-child {
    padding-right: 0;
    border-right: 0;
}

.border-table.text-left:not(.table-bordered) td {
    border: none;
    border-right: 1px solid #D2D2D2;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}

hr.space.s {
    height: 20px;
}

/* 
============================== 
BUTTONS 
============================== 
*/
.btn {
    background-color: #f5f5f5;
}

    .btn:hover {
        background-color: #ececec;
    }

    .btn-default i, .btn i, .btn-text i {
        color: #585858 ;
        margin-right: 10px;
    }
#about-page .btn-default i,#about-page .btn i,#about-page .btn-text i {
        color: #fff !important;
        margin-right: 10px;
    }
.input-group .input-group-btn a {
    border: 1px solid #9c9c9c;
}

*[data-social] i, .btn-group-icons i {
    margin: 0 3px;
}

.social-group {
    margin: 0 -3px;
}

.dropdown.btn-group .active > a {
    color: #262626;
    background-color: #f5f5f5;
}

.btn-default.btn-primary i {
    color: white;
}

.btn.ico i {
    margin-right: 10px;
}

.btn-text {
    border-bottom: 1px dotted rgba(0,0,0,0.3);
    display: inline-table;
}

    .btn-text:hover {
        color: #7D7D7D;
    }

.anima-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: padding-left .3s;
}

.circle-button {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #9C9C9C;
    display: inline-block;
}

.anima-button i {
    position: absolute;
    top: 50%;
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
    margin-left: -50%;
    font-size: 100%;
}

.anima-button.btn-xs i {
    margin-top: -9px;
}

.anima-button:hover {
    padding-left: 30px;
    transition: padding-left .3s;
}

.anima-button.circle-button:hover {
    padding-left: 33px;
}

.anima-button.btn-lg:hover, .anima-button.btn-lg.circle-button:hover {
    padding-left: 43px;
}

.anima-button.btn:hover i, .anima-button.circle-button:hover i {
    margin-left: -20px;
}

.anima-button:hover i {
    margin-left: -25px;
    transition: all .3s;
}

.anima-button.btn-lg:hover i, .anima-button.btn-lg.circle-button:hover i {
    margin-left: -30px;
}

.btn-primary:hover i {
    color: white;
}

.button-cnt {
    display: inline-block;
}

.circle-button.btn-primary:hover {
    background-color: #6A4D8F;
    color: #FFF;
    border-color: #6A4D8F;
}

.circle-button.btn-primary {
    color: #FFF !important;
    border: none;
}

.btn-primary.circle-button:hover {
    background-color: #3070a7 !important;
}

.navbar-main .circle-button {
    margin-top: 12px;
}

.btn-border, .white .btn-border {
    border: 1px solid #9C9C9C;
    background: none !important;
    background-color: rgba(255, 255, 255, 0.00) !important;
}

ul.fa-ul {
    margin-bottom: 0;
}

.fa-ul .fa-li {
    line-height: 180%;
    text-align: left;
}
.fa-ul > li, ul.no-icons li {
    line-height: 200%;
}


/*****
GALLERY
****/
.img-box {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    outline: none !important;
    position: relative;
    text-align: left;
}

    .img-box.thumbnail .caption {
        background-color: #FFF;
    }

    .img-box.adv-img:hover {
        background-color: transparent;
    }

    .img-box:before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background: #000000;
        z-index: 0;
        transition: opacity 0s;
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
        opacity: 0;
    }

    .gallery > a span, .img-box > span, .img-box-adv > span {
        display: block;
        overflow: hidden;
        height: 100%;
    }

    .img-box.circle:before {
        border-radius: 50%;
        opacity: 0;
        transform: scale(0.995);
    }

    .img-box.circle.thumbnail:before {
        margin: 4px;
    }

    .img-box:hover:before {
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 1;
        transition: none;
        -webkit-transform: translateZ(0);
    }

.png-over .img-box img {
    opacity: .8 !important;
    margin: auto;
    height: auto !important;
}

.png-over .img-box:hover img {
    opacity: 1 !important;
}

.png-over .img-box:before, .png-over.img-box:before {
    display: none !important;
}

.png-over li a {
    text-align: center;
}

.png-over li img {
    width: auto !important;
}

.img-box.thumbnail:before {
    margin: 4px;
}

.img-box img {
    z-index: 2;
    position: relative;
    -webkit-transform: translateZ(0);
}

.img-box:hover img {
    opacity: 0.8 !important;
    transition: opacity .3s;
}

.img-box.adv-circle:hover img {
    opacity: 0.6 !important;
}


.img-box.i-center i {
    left: 0;
    margin: -28px 0 0 50%;
    top: 50%;
    line-height: 50px;
}

.img-box.i-center {
    position: relative;
}

    .img-box.i-center i::before {
        margin-left: -10.5px;
    }




.img-box.i-center i {
    left: 0;
    margin: -28px 0 0 50%;
    top: 50%;
    line-height: 50px;
}

.img-box > i, .img-box span > i, .img-box .caption > i {
    position: absolute !important;
    margin: 15px;
    font-size: 20px;
    color: #FFF;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    z-index: 11;
    transform: translate3d(0,0,0);
}

.grid-list .list-nav {
    text-align: center;}

    .list-nav .pagination {
    margin: 0 auto;
}

.pagination > li.disabled > a {
  border: 1px solid #9C9C9C;
    color: #969696;
}

.pagination .prev a i, .pagination .first a i, .pagination i[class*="left"] {
    margin-right: 7px;
}

.pagination > li.first > a i:before, .pagination > li.prev > a i:before {
    transform: rotate(225deg);
}
.pagination > li > a i:before {
    transform: rotate(45deg);
    top: -1px;
}
.pagination > li > a i:before{
    border-top-width: 2px;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    content: "" !important;
    display: inline-block;
    margin-left: .3em;
    position: relative;
    pointer-events: none;
    width: 6px;
    height: 6px;
    transition: right .15s;
    border-color: rgba(93, 93, 93, 0.5);
}

/*
==============================
MOBILE - RESPONSIVE
==============================
*/

.visible-xs.hidden-sm {
    display: block !important;
}
@media (max-width: 992px) {
    [class*="col-md"] {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    @media (max-width: 992px) {
#about-pdf [class*="col-md"] {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
   
/*
------------------------------
SECTIONS - RESPONSIVE
------------------------------
*/
    .section-item, .section-empty, .section-bg-image, .section-item, .section-empty, .section-bg-image, .header-title, .header-animation, .header-video {
        width: 100%;
    }
 /*
------------------------------
VARIOUS
------------------------------
*/
    hr.space {
        height: 35px;
    }

        hr.space.xs {
            height: 8px;
        }

        hr.space.s {
            height: 10px;
        }

        hr.space.m {
            height: 20px;
        }

    hr.e {
        float: none !important;
        margin-left: auto !important;
        margin-right: auto;
    }

    .hidden-sm {
        display: none !important;
    }

    .latest-post-list .col-md-8 {
        padding-left: 15px;
    }

    .text-center .icon-box {
        margin-left: 0;
    }

    .album-title .btn {
        margin: 10px 0;
    }

    .pagination {
        margin-left: 1px;
    }

        .pagination > li.first, .pagination > li.last {
            display: none;
        }

        .pagination > li.prev a {
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
        }

        .pagination > li.next a {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
        }


    .list-items .list-item .col-md-10 {
        width: 70%;
        float: left;
    }

    .list-items .list-item .col-md-2 {
        width: 30%;
        float: left;
    }

   

    footer, .footer-left, .footer-right {
        text-align: center;
    }

        footer hr {
            margin-left: auto !important;
            margin-right: auto !important;
        }

    .footer-bg {
        height: inherit;
    }

    footer {
        height: auto !important;
            padding: 0px 20px;
    }

    .footer-parallax-container {
        margin-bottom: 0 !important;
    }

    footer .fa-ul > li i {
        margin-left: -25px;
        left: inherit;
    }

    .footer-parallax {
        position: static;
        opacity: 1 !important;
        padding: 0 !important;
    }

    .section-map .overlaybox.overlaybox-top {
        margin-top: 0 !important;
        margin-bottom: 0;
    }

    .col-md-6, .col-md-3:not(.widget), .col-md-9, footer .col-md-4 .col-md-6 {
        width: 50%;
        float: left;
    }

    .row > div.widget {
        float: left;
    }

    .col-md-4, .col-md-2 {
        width: 33%;
        float: left;
    }

    .col-md-8 {
        width: 66%;
        float: left;
    }

    footer .content > div > .row > [class*="col-md"], .col-md-4 [class*="col-md"], .sidebar-content > .row > .col-md-9, .woocommerce-cnt > .section-empty > .content > .row > .col-md-9 {
        width: 100%;
        float: none;
    }

    div [class*="boxed"].col-md-12 {
        width: auto !important;
    }


    .col-sm-12 {
        width: 100% !important;
    }

    .col-sm-6 {
        width: 50% !important;
        float: left;
    }

    .col-sm-4 {
        width: 33.33% !important;
        float: left;
    }


    [class*="boxed"].col-sm-12, [class*="boxed"].col-md-4.col-sm-12.boxed-inverse, [class*="boxed"].col-sm-12.col-md-4.boxed {
        width: calc(100% - 30px) !important;
    }

    [class*="col-md-"].boxed-inverse.col-sm-6, [class*="col-md-"].boxed.col-sm-6, .col-md-6.boxed-inverse:not([class*="col-sm-"]), .col-md-6.boxed:not([class*="col-sm-"]) {
        width: 50% !important;
        width: calc(50% - 30px) !important;
        float: left;
    }

    [class*="col-md-"].boxed-inverse, [class*="col-md-"].boxed, .col-md-6.col-sm-12.boxed-inverse, .col-md-6.col-sm-12.boxed {
        max-width: 100%;
        width: calc(100% - 30px) !important;
        margin: 5px 15px;
    }

    .col-md-4.boxed-inverse:not([class*="col-sm-"]), .col-md-4.boxed:not([class*="col-sm-"]) {
        width: calc(33.3333% - 30px) !important;
    }

    .section-two-blocks .row > div > a.img-box {
        display: block;
    }

    .proporzional-row, .proporzional-row > .row {
        display: block !important;
    }

    div:not(.hc_column_cnt) > table th {
        padding: 8px;
    }

    .icon-list.text-right {
        margin-left: 0;
    }

    .text-center-sm, .text-center-sm th, .text-center-sm.hc_social_share_buttons_cnt > .text-left, .text-center-sm .hc_social_share_buttons_cnt > .text-left {
        text-align: center !important;
    }

    .text-left-sm {
        text-align: left !important;
    }

    .text-right-sm {
        text-align: right !important;
    }

    .text-center-sm .icon-box {
        margin: 10px auto;
    }

    .visible-xs, .button-cnt.visible-xs > .btn {
        display: none !important;
    }

    .visible-sm, .button-cnt.visible-sm > .btn, .hidden-xs {
        display: block !important;
    }

    a.hidden-xs {
        display: inline-block !important;
    }

    .visible-xs.hidden-sm {
        display: none !important;
    }

    .height-full-sm {
        height: 100% !important;
    }

    footer .tag-row span, footer .tag-row {
        white-space: normal;
    }

    .icon-box-top-bottom.text-left.text-center-sm .icon-box-cell {
        text-align: center;
    }

    .grid-table.grid-table-sm-12 td {
        width: 100%;
    }

    .no-paddings .hc_pt_grid_list_cnt {
        padding: 0 !important;
    }

    .text-xs-sm {
        font-size: 11px !important;
        line-height: 11px;
    }

    .text-s-sm {
        font-size: 13px !important;
        line-height: 18px;
    }

    .text-m-sm {
        font-size: 18px !important;
        line-height: 25px;
    }
}
/*
==============================
MOBILE - EXTRA SMALL SCREENS
==============================
*/
@media (max-width: 767px) {
    .col-md-6, .col-md-3, .col-md-3:not(.widget), .col-md-4, .col-md-2, .col-md-9, .col-md-8, .col-md-7, .col-md-1, .col-md-5, footer [class*="col-md"], .col-md-4 [class*="col-md"] {
        width: 100%;
        float: none;
    }

    .col-sm-6, .col-sm-4 {
        width: 100% !important;
        float: none;
    }
      .col-xs-12, [class*="col-md-"].boxed-inverse, [class*="col-md-"].boxed, .col-md-6.boxed-inverse:not([class*="col-sm-"]), .col-md-6.boxed:not([class*="col-sm-"]), 
      .col-md-4.boxed-inverse:not([class*="col-sm-"]), .col-md-4.boxed:not([class*="col-sm-"]),[class*="col-md-"].boxed-inverse.col-sm-6, [class*="col-md-"].boxed.col-sm-6,
       .col-md-6.boxed-inverse:not([class*="col-sm-"]), .col-md-6.boxed:not([class*="col-sm-"]) {
        width: 100% !important;
        width: calc(100% - 30px) !important;
    }
    .grid-table {
        display: block;
    }

        .grid-table tr, .grid-table tbody, .grid-table td {
            width: 100%;
            float: none;
            border: none !important;
        }

        .grid-table td {
            width: 50%;
            float: left;
        }

        .grid-table.grid-table-xs-12 td {
            width: 100%;
        }

    .fa-ul.text-center-xs > li {
        display: inline-block;
        margin: 0 20%;
        white-space: nowrap;
    }

    .icon-box-top-bottom.text-left.text-center-xs .icon-box-cell {
        text-align: center;
    }

    .hidden-xs, a.hidden-xs {
        display: none !important;
    }

    .visible-xs.hidden-sm {
        display: block !important;
    }

    .visible-xs {
        display: block !important;
    }

    .section-two-blocks {
        height: auto !important;
        overflow: hidden;
    }

        .section-two-blocks .row {
            width: auto;
        }

        .section-two-blocks:not(.two-blocks-container) .row > [class*="col-"] {
            padding: 0 15px;
        }

    .two-blocks-container:not(.two-blocks-container) .row > [class*="col-"] {
        padding: 0 0;
    }

    .section-two-blocks .content, .section-two-blocks .col-md-5 .content {
        padding: 15px !important;
        width: auto !important;
        margin-bottom: 15px;
    }

    .title-base.text-left {
        text-align: center !important;
    }

    .vertical-row > div, .row.vertical-row > div {
        text-align: center;
    }

    .text-center-xs, .text-center-xs th, .text-center-xs.hc_social_share_buttons_cnt > .text-left, .text-center-xs .hc_social_share_buttons_cnt > .text-left {
        text-align: center !important;
    }

    .text-left-xs {
        text-align: left !important;
    }

    .pull-none-xs {
        float: none !important;
    }

    .no-bg-xs {
        background: none !important;
        background-image: none !important;
    }

    .height-full-xs {
        height: 100% !important;
    }

    .icon-list .list-item, .icon-list.text-right .list-item {
        margin: 0 0 10px 0;
        padding-left: 0;
        display: block;
    }

    .ul-dots.text-center-xs, .ul-square.text-center-xs, .ul-decimal.text-center-xs {
        display: inline-block;
    }

        .ul-dots.text-center-xs li, .ul-square.text-center-xs li, .ul-decimal.text-center-xs li {
            text-align: left !important;
        }

    .text-xs-xs {
        font-size: 11px !important;
        line-height: 11px;
    }

    .text-s-xs {
        font-size: 13px !important;
        line-height: 18px;
    }

    .text-m-xs {
        font-size: 18px !important;
        line-height: 25px;
    }

    footer .copy-row {
    border-top: 1px solid #cecece;
     padding: 0px !important;
    margin: auto !important;
    font-weight: 400;
    color: #a2a2a2;
    letter-spacing: .3px;
    float: none;
  
}
footer .copy-row .text-left,footer .copy-row .text-right{
text-align: center !important;
    }
}


/*
===========================
---------------------------

HOME 
---------------------------
===========================
---------------------------

HOME-ABOUT SECTION 
---------------------------
*/
img.shadow-2 {
    border-radius: 5px;
}
.shadow-2 {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13) !important;
}

.section-bg-color, .section-two-blocks > .row > div:last-child {
    background-color: #f7f7f7;
}
.aligncenter {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#five-points{
    text-align: center;
}
#five-points img
{
    width:120px;
    height: 100px;
}

.bg-cover,.header-title img
{
    width: 1920px;
height: 650px;}


#gallerypage .grid-item img{
    width: 500px;
    height: 300px;
}

#courses_page .img-box img{
  width: 400px;
    height: 250px;   
}
@media (min-width: 768px){
.container-xs {
    width: 750px;
}
}
.container-xs {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
        padding-top: 20px !important;
    padding-bottom: 80px;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}
 








